@font-face {
    font-family: Excalifont;
    src: url(https://excalidraw.nyc3.cdn.digitaloceanspaces.com/fonts/Excalifont-Regular.woff2);
}

* {
    margin: none;
    padding: none;
    --bg: #282828;
    --bg1: #3c3836;
    --bg-visual-blue: #2e3b3b;
    --bg-visual-green: #333e34;
    --bg-green: #a9b665;
    --fg: #ddc7a1;
    --blue: #7daea3;
    --select: var(--bg-visual-blue);
    background-color: var(--bg);
    color: var(--fg);
}

body {
    font-family: Excalifont;
}

h1::selection { background-color: var(--select); }

#root {
    display: grid;
    place-items: center;
}

header { justify-self: center; }
h1::selection { background-color: var(--select); }
}

#search-bar {
    appearance: none;
    outline: none;
    background-color: var(--bg1);
    border: none;
    border-radius: 0.5em;
    padding: 0.5em;
    font-family: inherit;
    font-size: 1.5em;
    margin-right: 1em;
}

#search-bar::selection { background-color: var(--select); }
#search-bar:focus { border-color: var(--blue); }

#search-btn {
    border: none;
    border-radius: 0.5em;
    background-color: var(--bg1);
    padding: 0.5em;
    font-family: inherit;
    font-size: 1.5em;

}

#search-btn::selection { background-color: var(--select); }
#search-btn:hover { 
    background-color: var(--blue);
}