@font-face {
  font-family: Excalifont;
  src: url(https://excalidraw.nyc3.cdn.digitaloceanspaces.com/fonts/Excalifont-Regular.woff2);
}

* {
  --bg0: #1d2021;
  --bg: #282828;
  --bg1: #3c3836;
  --bg-visual-blue: #2e3b3b;
  --bg-visual-green: #333e34;
  --bg-green: #a9b665;
  --fg: #ddc7a1;
  --blue: #7daea3;
  --select: var(--bg-visual-blue);
  accent-color: var(--blue);
  background-color: var(--bg);
  color: var(--fg);
}

body {
  font-family: Excalifont;
  font-size: 22px;
  display: grid;
  place-items: center;
}

header {
  justify-self: center;
}

h1 {
  margin: 0.5em 0 0.5em 0;
}

h1::selection {
  background-color: var(--select);
}

input,
button {
  font-family: inherit;
  font-size: 1em;
  box-sizing: border-box;
  border-radius: 0.5em;
}

button {
  border: none;
  background-color: var(--bg1);
  padding: 0.5em;
  justify-self: center;
  width: 100%;
}

button:active {
  box-shadow: var(--bg0) 0.1em 0.1em 2em;
}

input[type="text"] {
  appearance: none;
  border: none;
  outline: none;
  background-color: var(--bg1);
  padding: 0.5em;
}

input[type="text"]::selection {
  background-color: var(--select);
}

input[type="text"]:focus {
  border-color: var(--blue);
}

#todo-list {
  margin-top: 0.5em;
}

.todo {
  border-style: solid;
  border-color: var(--bg);
  display: flex;
  gap: 0.2em;
  box-sizing: border-box;
}

.todo span {
  width: 90%;
  padding: 0.2em;
}

.todo button {
  padding: 0.2em;
  background-color: var(--bg1);
  width: min-content;
  height: fit-content;
}

#btns {
  display: flex;
  gap: 1em;
  margin-top: 0.5em;
}

#menu-bar {
  display: flex;
  gap: 1em;
  margin-bottom: 0.5em;
  font-size: 0.75em;
}

#task-input {
  margin: 0.3em 0 0.1em 0;
  padding: 0.2em;
  padding-left: 0.5em;
}
