@font-face {
    font-family: Excalifont;
    src: url(https://excalidraw.nyc3.cdn.digitaloceanspaces.com/fonts/Excalifont-Regular.woff2);
}

* {
    margin: none;
    padding: none;
    background-color: #282828;
    color: #ebdbb2;
}

body {
    font-family: Excalifont;
}

#root {
    display: grid;
    place-items: center;
}